# Manifest file
*Manifest.toml

# Accidentally missed coverage files
*.cov

# Jupyter checkpoints
*ipynb_checkpoints

# User's Makefile
Makefile

# Directories created by Documenter
docs/build
docs/site
docs/generated

# Directories created when
# running `make.jl` locally
docs/src/generated