language: julia
dist: bionic

cache:
  apt: true
  pip: true
  directories:
    - $HOME/texlive
    - $HOME/.texlive
    - $HOME/texmf
    - C:/miktex-repository

julia:
  - 1.4
  - nightly

python:
  - "3.8"

os:
  - linux
  - osx
  - windows

arch:
  - amd64
  - i386

notifications:
  email: false

before_install:
  - |
    if [ "$TRAVIS_OS_NAME" = "linux" ]; then
    bash .github/scripts/before_install_dependencies_unix.sh
    elif [ "$TRAVIS_OS_NAME" = "osx" ]; then
    bash .github/scripts/before_install_dependencies_osx.sh
    elif [ "$TRAVIS_OS_NAME" = "windows" ]; then
    .github/scripts/before_install_dependencies_windows.bat
    export PATH="/c/Python38:/c/Python38/Scripts:$PATH"
    fi

install:
  - |
    if [ "$TRAVIS_OS_NAME" = "osx" ]; then
    bash .github/scripts/install_dependencies_osx.sh
    elif [ "$TRAVIS_OS_NAME" = "windows" ]; then
    .github/scripts/install_dependencies_windows.bat
    export PATH="/c/Program Files/MiKTeX 2.9/miktex/bin/x64:$PATH"
    initexmf --admin --set-config-value [MPM]AutoInstall=1
    mpm --admin --install=cm-super
    mpm --admin --install=cm-unicode
    # mpm --admin --install=ec
    # mpm --admin --install=cm
    # mpm --admin --install=beamer-rl
    # mpm --admin --install=gmutils
    # mpm --admin --install=miktex-omega-bin-x64-2.9
    # mpm --admin --install=na-box
    # mpm --admin --find-updates
    # mpm --admin --update
    fi

after_success:
  - julia -e 'using Pkg; Pkg.add("Coverage"); using Coverage;
              Coveralls.submit(Coveralls.process_folder())'

jobs:
  allow_failures:
    - julia: nightly