language: julia
dist: bionic

cache:
  directories:
    - $HOME/apt-get-packages
    - $HOME/texlive
    - $HOME/.texlive
    - $HOME/texmf

notifications:
  email: false

stages:
  - "Docs & Coveralls"
  - name: Tests
    if: branch != master AND branch != develop AND NOT branch =~ /^v\d+\.\d+(\.\d+)?(-\S*)?$/

jobs:
  fast_finish: true
  allow_failures:
    julia: nightly
  include:
    - stage: "Docs & Coveralls"
      julia: 1.4
      os: linux
      arch: amd64
      name: "Documentation Build, Julia 1.4 (Linux, x64)"
      script:
        - bash .github/scripts/install-plots-dependencies.bash
        - julia --project=docs/ -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd()));
                                               Pkg.instantiate()'
        - julia --project=docs/ docs/make.jl
    - name: "Code Coverage, Julia 1.4 (Linux, x64)"
      script:
        - julia -e 'using Pkg; Pkg.add("Coverage"); using Coverage;
                    Pkg.test(coverage=true); Coveralls.submit(Coveralls.process_folder())'
    - stage: Tests
      name: "Julia 1.4 (Linux, x32)"
      julia: 1.4
      os: linux
      arch: i386
    - stage: "Tests"
      name: "Julia 1.4 (macOS, x64)"
      julia: 1.4
      os: osx
    - stage: "Tests"
      name: "Julia 1.4 (Windows, x64)"
      julia: 1.4
      os: windows
    - stage: "Tests"
      name: "Julia Nightly (Linux, x64)"
      julia: nightly
      os: linux
      arch: amd64
    - stage: "Tests"
      name: "Julia Nightly (Linux, x32)"
      julia: nightly
      os: linux
      arch: i386
    - stage: "Tests"
      name: "Julia Nightly (macOS, x64)"
      julia: nightly
      os: osx
    - stage: "Tests"
      name: "Julia Nightly (Windows, x64)"
      julia: nightly
      os: windows
