language: julia
dist: bionic

jobs:
  fast_finish: true
  allow_failures:
    julia: nightly
  include:
    - stage: "Tests"
      name: "Julia 1.4 (Linux, x64)"
      julia: 1.4
      os: linux
      arch: amd64
    - stage: "Tests"
      name: "Julia 1.4 (Linux, x32)"
      julia: 1.4
      os: linux
      arch: i386
    - stage: "Tests"
      name: "Julia 1.4 (macOS, x64)"
      julia: 1.4
      os: osx
    - stage: "Tests"
      name: "Julia 1.4 (Windows, x64)"
      julia: 1.4
      os: windows
    - stage: "Tests"
      name: "Julia Nightly (Linux, x64)"
      julia: nightly
      os: linux
      arch: amd64
    - stage: "Tests"
      name: "Julia Nightly (Linux, x32)"
      julia: nightly
      os: linux
      arch: i386
    - stage: "Tests"
      name: "Julia Nightly (macOS, x64)"
      julia: nightly
      os: osx
    - stage: "Tests"
      name: "Julia Nightly (Windows, x64)"
      julia: nightly
      os: windows
    - stage: "Docs"
      os: linux
      script:
        - julia --project=docs/ -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd()));
                                               Pkg.instantiate()'
        - julia --project=docs/ docs/make.jl

stages:
  - name: Docs
    if: branch = master OR branch = develop
  - name: Tests
    if: branch != master AND branch != develop AND NOT branch =~ /^v\d+\.\d+(\.\d+)?(-\S*)?$/

notifications:
  email: false

after_success:
  - julia -e 'using Pkg; Pkg.add("Coverage"); using Coverage;
              Coveralls.submit(Coveralls.process_folder())'