language: julia
sudo: required
dist: bionic

cache:
  directories:
    - $HOME/.macports-ci-ccache

julia:
  - 1.4
  - nightly

python:
  - "3.8"

os:
  - linux
  - osx
  - windows

arch:
  - amd64
  - i386

notifications:
  email: false

before_install:
  - |
    if [ "$TRAVIS_OS_NAME" = "linux" ]; then
    travis_wait 30 bash .github/scripts/install_dependencies_unix.sh
    elif [ "$TRAVIS_OS_NAME" = "osx" ]; then
    travis_wait 30 bash .github/scripts/install_dependencies_osx.sh
    fi

after_success:
  - julia -e 'using Pkg; Pkg.add("Coverage"); using Coverage;
              Coveralls.submit(Coveralls.process_folder())'

jobs:
  allow_failures:
    - julia: nightly