language: julia
dist: bionic

branches:
  except:
  - master
  - develop
  - /^v\d+\.\d+(\.\d+)?(-\S*)?$/

os:
  - linux
  - osx
  - windows

arch:
  - x64
  - x86

julia:
  - stage: "tests"
  - 1.4
  - nightly

jobs:
  fast_finish: true
  allow_failures:
  - stage: "tests"
    julia: nightly
  include:
    - stage: "docs"
      julia: 1.4
      os: linux
      script:
        - julia --project=docs/ -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd()));
                                               Pkg.instantiate()'
        - julia --project=docs/ docs/make.jl
      after_success: skip

stages:
  - docs
  - tests

notifications:
  email: false

after_success:
  - julia -e 'using Pkg; Pkg.add("Coverage"); using Coverage;
              Coveralls.submit(Coveralls.process_folder())'