language: julia
sudo: required

julia:
  - 1.4
  - nightly

os:
  - linux
  - osx
  - windows

arch:
  - amd64
  - i386

notifications:
  email: false

before_install:
  - |
    if [ "$TRAVIS_OS_NAME" = "linux" ]; then
    bash .github/scripts/install_tex_dependencies.sh
    fi

install:
  - source ./texlive/texlive_install.sh

after_success:
  - julia -e 'using Pkg; Pkg.add("Coverage"); using Coverage;
              Coveralls.submit(Coveralls.process_folder())'

jobs:
  allow_failures:
    - julia: nightly