language: julia
sudo: false
dist: bionic

cache:
  apt: true
  pip: true
  directories:
    - $HOME/texlive
    - $HOME/.texlive
    - $HOME/texmf

julia:
  - 1.4
  - nightly

python:
  - "3.8"

os:
  - linux
  - osx
  - windows

arch:
  - amd64
  - i386

notifications:
  email: false

before_install:
  - |
    if [ "$TRAVIS_OS_NAME" = "linux" ]; then
    bash .github/scripts/install_dependencies_unix.sh
    elif [ "$TRAVIS_OS_NAME" = "osx" ]; then
    bash .github/scripts/before_install_dependencies_osx.sh
    fi

install:
  - |
    if [ "$TRAVIS_OS_NAME" = "osx" ]; then
    printf "\nВыполняется установка TexLive и tlmgr...\n\n"
    . ./install-tex.sh
    bash .github/scripts/install_dependencies_osx.sh
    fi

after_success:
  - julia -e 'using Pkg; Pkg.add("Coverage"); using Coverage;
              Coveralls.submit(Coveralls.process_folder())'

jobs:
  allow_failures:
    - julia: nightly