name: Publish Docker

on:
  push:
    branches:
      - master
      - develop
      - feature

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Get SHA
      id: sha
      run: |
        echo ::set-output name=SHA::$(git rev-parse --short=12 ${{ github.sha }})
    - name: Publish to Registry
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: paveloom-j/Scats.jl/binder
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
        dockerfile: binder/Dockerfile
        registry: docker.pkg.github.com
        tags: "${{ steps.sha.outputs.SHA }}, latest"